[submodule "auth-service"]
	path = auth-service
	url = git://github.com/ivsor/ros-auth-service.git
[submodule "order-service"]
	path = order-service
	url = git://github.com/ivsor/ros-order-service.git
