[submodule "ros-auth-service"]
	path = ros-auth-service
	url = https://github.com/ivsor/ros-auth-service
[submodule "ros-order-service"]
	path = ros-order-service
	url = https://github.com/ivsor/ros-order-service
[submodule "ros-cook-service"]
	path = ros-cook-service
	url = https://github.com/ivsor/ros-cook-service
[submodule "ros-admin-service"]
	path = ros-admin-service
	url = https://github.com/ivsor/ros-admin-service
[submodule "ros-config-server"]
	path = ros-config-server
	url = https://github.com/ivsor/ros-config-server.git
